.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
		
p.dotted {
	border-style: dotted;
}
	
p.round2 {
	border: 2px solid red;
	border-radius: 8px;
}